.logo {
display: inline-block;
margin-top: 25px;
margin-bottom: 26px;
margin-left: 80px;
text-decoration: none;
color: #22202E;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.container{
width: 100%;
height: 80px;
border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
display:flex;
}


.top-menu {
    display: flex;
    align-items: center;
    padding-left: 149px;
   
}


.top-menu-item{
list-style-type: none;
padding-right:44px;

}

.top-menu-item:last-child {
    padding-right:0;
}



.top-menu-link {
text-decoration: none;
color: #726E8D;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.top-menu-right{
    width: auto;
    height: 22px;
    padding-top: 30px;
    padding-left: 281px;

    

    display: flex;
    align-items: center;
}

.top-menu-right-icon {
width: 16px;
height: 16px;
margin: 16px;
}

/* main */


.title{
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    margin-top: 80px;
    margin-left: 575px;
}

.filters-container{
margin: 24px 80px 5px 80px;
width: 1232px;
height: 48px;
display: flex;
}

/* .left-filters-menu{ 
width: 570px;
height: 48px;
}

.left-filters-menu-menu{
display: flex;
align-items: center;
padding-left: 24px;
width: 570px;
height: 48px;
margin: 0;

}

.left-filters-menu-item {
list-style-type: none;
padding-right:8px;
}

.left-filters-menu-link{
text-decoration: none;
color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
/* } */ 
 /* .arrow-down { 
width: 16px;
height: 16px;
padding-right: 24px;

}

.right-filters-menu{
display: flex;
width: 245px;
height: 48px;
}

.right-filters-menu-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
    
}

.right-filters-menu-item{
    list-style-type: none;
   
}

.right-filters-link{
text-decoration: none;
color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */

/* }  */

.left-buttons {
width: 570px;
height: 48px;
display: flex;
justify-content: flex-start;
padding: 8px 417px 8px 24px;
gap: 12px;
flex-wrap: nowrap;
}

.caret-down {
width: 16px;
height: 16px;
} 

.btn {
border: none;
background-color: white;
color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
/* display: flex;
align-items: center;
justify-content: center;  */

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap: 8px ;

}

/* .button .btn   { 
width: 96px;
height: 24px;
}*/

.button .first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
}

.button .second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
}
.button .third {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
}

.button .fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
}


.sorting {
    color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.right-buttons {
display: flex;
align-items: center;
gap: 16px;
width: 245px;
height: 48px;
padding: 8px 24px 8px 0px;
gap: 16px;

}

.sorting {
width: 70px;
}



/* cards grid */

.cards-grid {
display: grid;
gap: 20px;
grid-template-columns: repeat(4, 305px);
grid-template-rows: repeat(3, 462px);
padding: 28px 80px 48px 80px;
}

.card {
display: flex;

}

.card-link{
text-decoration: none;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.card-name{
   
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin: 0;
}

.card-price{
    
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin: 0;
}

.card-texts{
gap: 8px;
align-self: flex-start;
align-content: flex-end;
}


/* button */

.button-center {
padding: 16px 32px;
margin: 0px 630px 40px 635px;
}

.button-center-button{
    width: 175px;
    height: 56px;
border: none;
background-color:  var(--Light-Grey, #F9F9F9);
}

.button-link{
    width: 111px;
height: 24px;
text-decoration: none;
color: #2A254B;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}



/* main footer */

  /* .main-footer-image{ 
background-image: url(./images/Image.jpg)
background-size: no-repeat;
background-position: center;
background-size: cover;
} */

.image-footer{
width: 720px;
height: 521px;
}


.main-footer{
    display: flex;
}
.joinus-container-texts{
    margin: 71px 130px 216px 49px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;

}


.header-name {
    display: flex;
    align-items: flex-start;
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
}

.paragraph {
    width: 470px;
    height: 48px;
   
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.form-container {
    width: 472px;
    height: 56px;
}

.form {
border: none;
width: 472px;
height: 56px;
display: flex;
align-items: flex-end;
flex-direction: row-reverse;
justify-content: flex-end;
padding-left: 72px;
padding-bottom: 70px;
}

.form-button{
    border: none;
    width: 120px;
    height: 56px;
    background-color: var(--Dark-Primary, #2A254B);;
}

.form-link{
text-decoration: none;
color: #FFFFFF ;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
padding: 0;
}

.input {
    border: none;   
    width: 352px;
    height: 56px;
    padding: 0;
}



/* footer */

.footer {
width: 100%;
height: 380px;
background: var(--Dark-Primary, #2A254B);
}

.footer-container-menu{
display: flex;
align-items: flex-start;
padding-top: 58px;
}

.footer-menu-first {
width: 117px;
height: 175px;
padding-left: 82px;
display: flex;
flex-direction: column;
gap: 12px;
}

.footer-menu-item-first{
    text-decoration: none;
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-menu-item {
text-decoration: none;
color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-menu-second{
width: 86px;
height: 206px;
display: flex;
flex-direction: column;
gap: 12px;
padding-left: 100px;
}

.footer-menu-third{
    width: 111px;
    height: 175px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 131px;
}

.footer-image{
padding-left: 89px;
}

.footer-line-line{
margin: 48px 80px 24px 80px ;
border: 1px solid  #4E4D93;;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
width: 168px;
height: 19px;
padding-bottom: 24px;
padding-left: 80px;
align-self: baseline;
}

.copyright-text{
    width: 168px;
height: 19px;
color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 color: #FFFFFF;
}


.footer-menu-right{
display: flex;
gap: 24px;
padding-left: 845px;
padding-right: 83px;
padding-bottom: 22px;

}

/* .footer-icon{
    fill: var(--Transparent, #FFF);
    background-blend-mode: multiply;
} */

.footer-of-footer{
display: flex;
align-content: center;

}

.footer-menu-right-icon-1{
width: 24px;
height: 24px;
background-image: url(../images/logo--linkedin\ \(1\).svg);
background-size: no-repeat;
 background-position: center;
background-size: cover;
}

.footer-menu-right-icon-2{
width: 24px;
height: 24px;
background-image: url(../images/logo--facebook\ \(1\).svg);
background-size: no-repeat;
background-position: center;
background-size: cover;
}
.footer-menu-right-icon-3{
 width: 24px;
height: 24px;
background-image: url(../images/logo--instagram\ \(1\).svg);
background-size: no-repeat;
background-position: center;
background-size: cover;
}
.footer-menu-right-icon-4{
     width: 24px;
     height: 24px;
    background-image: url(../images/logo--skype\ \(1\).svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-menu-right-icon-5{
    width: 24px;
    height: 24px;
   background-image: url(../images/logo--twitter\ \(1\).svg);
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
}
.footer-menu-right-icon-5{
    width: 24px;
    height: 24px;
   background-image: url(../images/logo--twitter\ \(1\).svg);
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
}.footer-menu-right-icon-6{
    width: 24px;
    height: 24px;
   background-image: url(../images/logo--pinterest\ \(1\).svg);
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
}

.top-menu-right{
    display: flex;
    gap: 16px;
    /* padding-top: 30px; */
    width: 80px;
    height: 16px;
    
    align-items: baseline;
}

.top-menu-right-icon-1{
width: 16px;
height: 16px;
background-image: url(../images/Search.svg);
background-size: no-repeat;
background-position: center;
background-size: cover;
}

.top-menu-right-icon-2{
    width: 16px;
    height: 16px;
    background-image: url(../images/Shopping--cart.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    }
.top-menu-right-icon-3{
        width: 16px;
        height: 16px;
        background-image: url(../images/User--avatar.svg);
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        }

/* .main-footer-image:empty {
    width: 720px;
    height: 721px;
background-image: url(../images/Image.jpg);
background-size: no-repeat;
background-position: center;
background-size: cover;

} */